<!DOCTYPE html>
<html lang="en">
<head>
    <title>fede2</title>
    {{#development}}
        <link href="css/index.css" type="text/css" media="all" rel="stylesheet" />
    {{/development}}
    {{#production}}
        <link href="css/index.min.css" type="text/css" media="all" rel="stylesheet" />
    {{/production}}
</head>
<body>

<h2>Hello fede2!</h2>
<p>more infomation please view <a href="https://github.com/keenwon/fede2" target="_blank">https://github.com/keenwon/fede2</a></p>

<script src="js/index/main.js"></script>
</body>
</html>