<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lazy Load - fede2</title>
    <link href="css/normal.css" type="text/css" media="all" rel="stylesheet" />
</head>
<body>

<h2>Lazy Load</h2>

<script src="js/lazyLoad/main.js"></script>
</body>
</html>
