<!DOCTYPE html>
<html lang="en">
<head>
    <title>normal - fede2</title>
    {{#development}}
        <link href="css/normal.css" type="text/css" media="all" rel="stylesheet" />
    {{/development}}
    {{#production}}
        <link href="css/normal.min.css" type="text/css" media="all" rel="stylesheet" />
    {{/production}}
</head>
<body>

<h2>Normal</h2>

<script src="js/normal/main.js"></script>
</body>
</html>
