<!DOCTYPE html>
<html lang="en">
<head>
    <title>Code Splitting 2 - fede2</title>
    <link href="css/normal.css" type="text/css" media="all" rel="stylesheet" />
</head>
<body>

<h2>Code Splitting 2</h2>

<script src="js/common/c.js"></script>
<script src="js/splitting2/main.js"></script>
</body>
</html>
